
* {
    margin: 0;
    padding: 0;
    border: 0 none;
}

@font-face {
    font-family: "Gabarito", sans-serif;
    src: local('./assets/fonts/Gabarito-VariableFont_wght.ttf');
}

h1 {
    font-size: 72px;
    font-weight: 700;
    text-transform: uppercase;
}

h3 {
    font-size: 38px;
    font-weight: 700;
    text-transform: uppercase;
}

h5 {
    font-size: 28px;
    font-weight: 700;    
}

p {
    font-size: 23px;
    font-weight: 500;
    margin-top: 10px;
}

a {
    font-size: 23px;
    font-weight: 500;
    margin-top: 10px;
    text-decoration: none;
}

body,
#root
 {
    width: 100%;
    height: 100%;
    background-color: #FFF;
    font-family: "Gabarito", sans-serif;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 0;
}

@media( max-width: 768px ) {
    h1 {
        font-size: 42px;
    }

    h3 {
        font-size: 35px;
    }

    p {
        font-size: 22px;
    }
}
